* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
}

.main {
    border: 2px solid #000;
    margin: 40px;
    padding: 30px;
}

h1 {
    color: #000;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

p {
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a {
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.image {
    margin: 50px;
}

img {
    width: 1051px;
    height: 762px;
}

.trivia {
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 50px;
}

ol{
    padding-left: 50px;
}